{% load mathfilters %}
{% load custom%}
{% block content %}
{% if user.is_authenticated %}
  <h1 align="center">Hi {{ user.first_name }}!</h1>
  <h3 align="right"><a href="{% url 'logout' %}">Logout</a></h3>
  <h4 align="center">{{current_month|month}}</h4>
  <h2 align="center">
  {%if user.profile.amount_spent >= user.profile.max_spending%}
    <font color="red">
  {%else%}
    <font color="green">
  {%endif%}
  {{user.profile.amount_spent}} / {{user.profile.max_spending}}</font></h2>
  <h2>Categories</h2>
  {% for category in profile.category_set.all %}
    <p><a href="{% url 'category_page' category %}">{{ category.category_name }}: </a>
    {% if category.user.amount_spent != 0%}
      {{category.amount_spent|mul:100 |intdiv:category.user.amount_spent}}</p>
    {% else %}
      0</p>
    {%endif%}
  {% endfor %}
  <p><a href="/new_category/">Add Category</a></p>
 </br></br>
  <h2>Expenses</h2>
  {%for expense in user.expense_set.all%}
  <p>{{ expense }} - ${{expense.amount}}</p>
  <p><a href="{% url 'delete_expense' expense.pk %}">Delete</a></p>
  {% endfor %}
   <p><a href="/new_expense/">Add Expense</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
